<html>
    <head>
        <link rel="stylesheet" href="index.css">
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    </head>
    <body>
        <div id="app">
            <h2>Vue app</h2>
            {{ message }}
        </div>
        <div id="app-2">
            <h2>Vue app-2</h2>
            <span v-bind:title="message">
            Hover your mouse over me for a few seconds
            to see my dynamically bound title!
            </span>
        </div>
        <div id="app-3">
            <h2>Vue app-3</h2>
            <span v-if="seen">Now you see me</span>
        </div>
        <div id="app-4">
            <h2>Vue app-4</h2>
            <ol>
                <li v-for="todo in todos">
                    {{ todo.text }}
                </li>
            </ol>
        </div>
        <div id="app-5">
            <h2>Vue app-5</h2>
            <p>{{ message }}</p>
            <button v-on:click="reverseMessage">reverseMessage</button>
        </div>
        <div id="app-6">
            <h2>Vue app-6</h2>
            <p>{{ message }}</p>
            <input v-model="message">
        </div>
        <div id="app-7">
            <h2>Vue app-7</h2>
            <ol>
                <todo-item
                    v-for="item in groceryList"
                    v-bind:todo="item"
                    v-bind:key="item.id"
                ></todo-item>
            </ol>
        </div>
        <div id="app-8">
            <h2>Vue app-8</h2>
            <p>反転したい文字列を入力↓</p>
            <input v-model="message">
            <p>{{ message }}</p>
            <button v-on:click="reverseMessage">文字列反転！</button>
            <p>反転した文字列↓</p>
            <p>{{ temp }}</p>
        </div>
        <div id="app-9">
            <h2>Vue app-9 アナグラム生成</h2>
            <input v-model="inputText">
            <button v-on:click="anagramOutput">生成</button>
            <li v-for="item in items">
                {{ item.message }}
            </li>
            <p>{{ outputText }}</p>
        </div>
        <script src="index.js"></script>
    </body>
</html>